{{- if .Values.mssqlSink.enabled }}
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: {{ .Values.mssqlSink.name }}
  namespace: {{ .Values.kafkaConnect.namespace }}
  labels:
    strimzi.io/cluster: {{ .Values.kafkaConnect.name }}
spec:
  class: {{ .Values.mssqlSink.connector.class }}
  tasksMax: {{ .Values.mssqlSink.connector.tasksMax }}
  topics: {{ .Values.mssqlSink.connector.topics }}
  config:
    connection.url: {{ .Values.mssqlSink.connector.config.connection.url | quote }}
    connection.user: {{ .Values.mssqlSink.connector.config.connection.user | quote }}
    {{- if .Values.secrets.mssql.enabled }}
    connection.password: ${mssql-connection-password}
    {{- else }}
    connection.password: {{ .Values.mssqlSink.connector.config.connection.password | quote }}
    {{- end }}
    table.name: {{ .Values.mssqlSink.connector.config.table.name | quote }}
    batch.size: {{ .Values.mssqlSink.connector.config.batch.size | quote }}
    max.retries: {{ .Values.mssqlSink.connector.config.max.retries | quote }}
    retry.backoff.ms: {{ .Values.mssqlSink.connector.config.retry.backoff.ms | quote }}
{{- end }}

