{{- if .Values.s3Sink.enabled }}
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: {{ .Values.s3Sink.name }}
  namespace: {{ .Values.kafkaConnect.namespace }}
  labels:
    strimzi.io/cluster: {{ .Values.kafkaConnect.name }}
spec:
  class: {{ .Values.s3Sink.connector.class }}
  tasksMax: {{ .Values.s3Sink.connector.tasksMax }}
  topics: {{ .Values.s3Sink.connector.topics }}
  config:
    s3.bucket: {{ .Values.s3Sink.connector.config.s3.bucket | quote }}
    s3.region: {{ .Values.s3Sink.connector.config.s3.region | quote }}
    {{- if .Values.s3Sink.connector.config.s3.endpoint }}
    s3.endpoint: {{ .Values.s3Sink.connector.config.s3.endpoint | quote }}
    {{- end }}
    {{- if hasKey .Values.s3Sink.connector.config.s3 "path.style.access" }}
    s3.path.style.access: {{ .Values.s3Sink.connector.config.s3.path.style.access | quote }}
    {{- end }}
    s3.prefix: {{ .Values.s3Sink.connector.config.s3.prefix | quote }}
    {{- if .Values.secrets.s3.enabled }}
    aws.access.key.id: ${s3-access-key-id}
    aws.secret.access.key: ${s3-secret-access-key}
    {{- else }}
    aws.access.key.id: {{ .Values.s3Sink.connector.config.aws.access.key.id | quote }}
    aws.secret.access.key: {{ .Values.s3Sink.connector.config.aws.secret.access.key | quote }}
    {{- end }}
    flush.size: {{ .Values.s3Sink.connector.config.flush.size | quote }}
    rotate.interval.ms: {{ .Values.s3Sink.connector.config.rotate.interval.ms | quote }}
    file.format: {{ .Values.s3Sink.connector.config.file.format | quote }}
    compression.type: {{ .Values.s3Sink.connector.config.compression.type | quote }}
{{- end }}

