apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: s3-sink-connector
  namespace: kafka
  labels:
    strimzi.io/cluster: kafka-connect-cluster
spec:
  class: com.kafka.connectors.s3.S3SinkConnector
  tasksMax: 2
  topics: source-topic
  config:
    s3.bucket: "kafka-data-bucket"
    s3.region: "ap-northeast-2"
    s3.prefix: "kafka-data"
    aws.access.key.id: "YOUR_ACCESS_KEY"  # Secret 사용 권장
    aws.secret.access.key: "YOUR_SECRET_KEY"  # Secret 사용 권장
    flush.size: "1000"
    rotate.interval.ms: "3600000"
    file.format: "json"
    compression.type: "gzip"

